<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <DebugType>embedded</DebugType>
    <PublishDir>$(MSBuildProjectDirectory)\dist\win-x64\</PublishDir>
    <PublishUrl>$(MSBuildProjectDirectory)\dist\win-x64\</PublishUrl>
  </PropertyGroup>
</Project>
